body{
  font-family: 'Arial';
}

.container{
  width: 450px;
  height: 530px;
  margin: 20px auto;
  border: 5px solid crimson;
  position: relative;
}

.box{
  background: steelblue;
  width: 100px;
  height: 100px;
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

.static{
  position: static;
}

.relative{
  background: crimson;
  position: relative;
  /* top: 10%;
  left: 2rem;
  right: ;
  bottom: ; */
}

.absolute{
  background-color: purple;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.fixed{
  background: tomato;
}