body{
  background: salmon;
  font-family: 'Arial';
}

.card{
  width: 300px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  box-shadow: -20px -20px 0px 0px #fb968b;
  border-radius: 10px;
}

.card_title{
  /* border-bottom: 3px solid salmon; */
  padding-bottom: 7px;
  margin-bottom: 10px;
}

p::selection{
  background: crimson;
  color: #fff;
}

/* *::selection{
  color: #fff;
  text-shadow: 0 0 6px black;
} */

/* p::first-line{
  color: crimson;
  font-weight: bold;
  font-size: 2rem;
}

.card_title::first-letter{
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 10px;
} */

input[type="text"]{
  margin-left: 20px;
  padding: 15px 3px;
  background: crimson;
  color: #fff;
  border: none;
  border-bottom: 4px solid #fff;
  outline: nonde;
}

input[type="text"]::placeholder{
  color:#fff;
}

/* 
<element>
  ::before
  contenido
  ::after
</element>
*/

.card_title::before,
.card_title::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: salmon;
  padding: 2px;
}

ul{
  counter-reset: contador;
}

li{
  list-style: none;
  padding: 0;
  margin-bottom: 10PX;
}

li::before{
  content: counter(contador);
  counter-increment: contador;
  background: salmon;
  width: 30px;
  height: 30px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 4px;
}