@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  height: 200vh;
}

.hero{
  height: 100vh;
  background-image: linear-gradient(180deg, #f6d46596 0%, #fd9f8597 100%), url(img/Hero.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 0.1px;
  position: relative;
}

.container-text{
  text-align: center;
  margin-top: 150px;
  color: #fff;
}

.hero_title{
  font-size: 4rem;
}

.hero_copy{
  font-size: 2rem;
  font-weight: 300;
  margin: 20px 0;
}

.hero_cta{
  display: inline-block;
  background: #fff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
}

.hero_cta:hover{
  background: #741a01;
  color: #fff;
}

.hero_wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}