body{
    background: #f2f2f2;
    font-family: 'Arial';
}

.card{
    width: 300px;
    padding: 0 0 30px ;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 5px 6px 11px 0px rgba(20, 18, 20, 0.75);
}

.img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.title{
    color: #a60909;
    text-align: center;
    margin: 20px 0;
}

.copy{
    text-align: center;
}

.cta{
    display: block;
    background: #a60909;
    padding: 13px 0;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
}

.kirby{
    display: block;
    width: 250px;
    margin: 30px auto;
    /* drop-shadow(h-offset v-offset blur color) */
    filter: drop-shadow(0 0 40px pink);
}