.box{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    background: orange;
    border: 10px  solid black;
    /* border: width style color; */

    /* border-width: top right bottom left; */
    /* border-style: top right bottom left;
    border-color: top right bottom left; */
}

.card{
    width: 400px;
    margin: 20px auto;
    padding: 20px 0;
    border: 1px solid black;
}

.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 50%;
    /* border-radius: 30px 10px; */
    /* object-fit: cover; */
}

.name{
    text-align: center;
}

.cta{
    display: block;
    width: 150px;
    background: lightslategray;
    border-radius: 3px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 20px auto;
}

.img2{
    width: 400px;
    margin: 30px auto;
    /* box-shadow: 8px 8px 12px rgba(220, 20, 60, 0.5); */
    box-shadow: 3px 3px 10px  rgba(0, 0, 0, 0.75);
}

.box2{
    width: 100px;
    height: 100px;
    margin: 30px;
    /* color: wheat; */
    background: steelblue;
    /* box-shadow: h-offset v-offset blur spread color; */
    box-shadow: 3px 2px 12px 2px darkorange;
}